root = true

[lf_*.txt]
end_of_line = lf
insert_final_newline = true

[cr_*.txt]
end_of_line = cr

[crlf_*.txt]
end_of_line = crlf
insert_final_newline = false

[utf-8_*.txt]
charset = utf-8

[utf-8-bom_*.txt]
charset = utf-8-bom

[latin-1_*.txt]
charset = latin1

[utf-16be_*.txt]
charset = utf-16be

[utf-16le_*.txt]
charset = utf-16le

[trim_*.txt]
trim_trailing_whitespace = true

[indent_tab_*]
indent_style = tab

[indent_space_*]
indent_style = space

[indent_space_2_*]
indent_size = 2
